/********** HEADER **********/

#header-wrap {
  width: 100%;
  background-image: linear-gradient(#1d1d1d 15%, rgba(28, 28, 28, 0));
  background-size: auto 100%;
  background-position: 0 100%;
  position: relative;
}

.header {
  width: 150px;
  height: 60px;
  text-align: center;
  margin: 0 auto;
  padding-top: 16px;
}

#header-wrap {
  position: fixed;
  top: 0;
  z-index: 1;
}

h1 {
  cursor: pointer;
  color: #ffffff;
  font-family: 'omnigothic030';
  font-size: 32px;
  line-height: 1.3;

  animation-name: light;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}

.search-area {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  width: 100%;
  height: 60px;
  text-align: center;
}

.search-area .outline {
  width: 216px;
  height: 42px;

  border-radius: 15px;
  border: 3px solid #656565;

  box-shadow: 0 0 5px 5px rgba(50, 50, 50, 0.8);
  filter: blur(1px);

  pointer-events: none;
}

.search-area form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 215px;
  height: 40px;
  border-radius: 15px;
  border: 2px solid #ffffff;
}

#search-input {
  width: 160px;
  height: 20px;
  border-radius: 15px;
  font-size: 14px;
  font-family: 'omnigothic045';
  padding-left: 20px;

  background-color: #dcdcdc;
}

.search-area button {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  background-color: #dcdcdc;
}

.btn-focus {
  box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.8);
}

.material-symbols-outlined.search {
  color: rgba(25, 25, 25, 0.8);
}

/********** 정렬 **********/
.content-wrap {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.movie-sort {
  position: relative;
  width: 102px;
  margin-bottom: 20px;
}

.movie-sort .dropdown {
  width: 100%;
  z-index: 1;
  margin-bottom: 8px;
}

.movie-sort .dropdown-toggle {
  height: 40px;
  width: 100%;
  padding: 0 16px;
  line-height: 40px;
  color: rgba(133, 136, 150, 0.5);
  text-align: left;
  border: 1px solid rgba(224, 226, 231, 0.75);
  border-radius: 6px;
  transition: border-color 100ms ease-in;
}

.movie-sort .dropdown-toggle.selected {
  color: #3f4150;
}

.movie-sort .dropdown-toggle:active {
  border-color: rgba(224, 226, 231, 1);
}

.movie-sort .dropdown-menu {
  position: absolute;
  z-index: 2;
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  border-radius: 6px;
  transition: border-color 200ms ease-in, padding 200ms ease-in, max-height 200ms ease-in, box-shadow 200ms ease-in;
}

.movie-sort .dropdown-menu.show {
  padding: 8px 0;
  max-height: 280px;
  border-color: rgba(224, 226, 231, 0.5);
  box-shadow: 0 4px 9px 0 rgba(63, 65, 80, 0.1);
}

.movie-sort .dropdown-option {
  width: 100%;
  height: 40px;
  padding: 0 16px;
  line-height: 40px;
  text-align: left;
}

.movie-sort .dropdown-option:hover {
  background-color: #f8f9fa;
}

@keyframes light {
  from {
    box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0);
  }

  5% {
    box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.8);
  }

  10% {
    box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.2);
  }

  15% {
    box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.8);
  }

  20% {
    box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.8);
  }

  25% {
    box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.2);
  }

  30% {
    box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.2);
  }

  35% {
    box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0.8);
  }

  40% {
    box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0);
  }

  to {
    box-shadow: 0 0 5px 5px rgba(100, 100, 100, 0);
  }
}

@media (min-width: 768px) {
  .header {
    width: 250px;
    height: 120px;
    padding-top: 40px;
  }

  h1 {
    font-size: 60px;
  }

  .search-area {
    height: 100px;
  }

  .search-area .outline {
    width: 432px;
    height: 62px;
  }

  .search-area form {
    width: 430px;
    height: 60px;
  }

  #search-input {
    width: 360px;
    height: 40px;
    font-size: 20px;
    padding-left: 40px;
  }

  .search-area button {
    width: 36px;
    height: 36px;
  }

  .material-symbols-outlined.search {
    padding: 5px;
  }
}

/********** MAIN **********/

.main-card-section {
  margin-top: 130px;
}

#flex-box {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 20px;
  width: 335px;
  margin: 0 auto 50px;
  padding: 0 20px;

  font-size: 14px;
  color: #ffffff;
}

.content {
  position: relative;
  cursor: pointer;
  width: 137.5px;
  height: 325px;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(50, 50, 50, 0.8);
}

.content img {
  width: 100%;
  border-radius: 10px;
}

.average {
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: 'mazius-extra';
  font-size: 10px;
  color: #ffffff;
  padding: 0px 5px 3px;
  border-radius: 0px 0px 10px 0px;
  box-shadow: 0 0 3px 3px rgba(50, 50, 50, 0.8);
  background-color: #d6474d;
}

.content-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #ffffff;
  padding: 20px 10px 10px;
}

.content-text h3 {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  /* font-family: 'mazius-regular'; 한글 타이틀 불러오면 폰트가 안예뻐요 ㅎㅎ 아니면 영문으로 불러올까요?*/
}

.content-text hr {
  width: 100%;
  height: 2px;
  background-color: #d6474d;
}

.content-text p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  font-size: 12px;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .main-card-section {
    margin-top: 240px;
  }

  #flex-box {
    width: 620px;
    font-size: 16px;
  }

  .content {
    width: 275px;
    height: 555px;
  }

  .average {
    font-size: 14px;
    padding: 2px 7px 6px;
  }

  .content-text h3 {
    font-size: 18px;
  }

  .content-text p {
    font-size: 16px;
  }
}

@media (min-width: 1220px) {
  #flex-box {
    width: 1200px;
  }

  .average {
    font-size: 16px;
    padding: 2px 8px 6px;
  }
}

/***** NAV *****/

nav button {
  position: fixed;
  bottom: 60px;
  right: 20px;

  width: 40px;
  height: 24px;
  border-radius: 15px;
  text-align: center;

  cursor: pointer;
  font-family: 'omnigothic045';
  font-size: 12px;
  color: #d6474d;

  background-color: #dcdcdc;
  box-shadow: 0 0 3px 5px rgba(20, 20, 20, 0.8);
}

@media (min-width: 768px) {
  nav button {
    bottom: 60px;
    right: 50px;

    width: 60px;
    height: 30px;

    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  nav button {
    right: 60px;
  }
}