<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <script type="module" src="../static/modules/main.js"></script>
  </head>
  <body>
    <header>
      <div id="header-wrap">
        <div class="header">
          <h1>MOVIES</h1>
        </div>

        <!-- 검색창 -->
        <div class="search-area">
          <form name="search">
            <input type="search" name="searchInput" id="search-input" class="btn-focus" autofocus />
            <button type="submit" class="submitBtn">
              <span class="material-symbols-outlined search">search</span>
            </button>
          </form>
          <div class="outline"></div>
        </div>
      </div>
    </header>

    <main>
      <section>
        <h2>메인 콘텐츠</h2>
        <!-- 정렬 선택 -->
        <div class="content-wrap">
          <form action="" class="movie-sort">
            <div class="dropdown">
              <button type="button" class="dropdown-toggle">정렬 선택</button>
              <ul class="dropdown-menu">
                <li class="dropdown-item">
                  <button type="button" value="1" class="dropdown-option sorting-pop">인기순</button>
                </li>
                <li class="dropdown-item">
                  <button type="button" value="1" class="dropdown-option sorting-name">이름순</button>
                </li>
                <li class="dropdown-item">
                  <button type="button" value="2" class="dropdown-option sorting-avg">평점순</button>
                </li>
                <li class="dropdown-item">
                  <button type="button" value="3" class="dropdown-option sorting-release">최신순</button>
                </li>
              </ul>
            </div>
          </form>
        </div>

        <!-- 영화 리스트 -->
        <div id="flex-box"></div>
      </section>

      <aside>
        <nav>
          <button>TOP</button>
        </nav>
      </aside>
    </main>
  </body>
</html>
